/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* Remove Items from printed page */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
#search-block-form {
	display: none;
}
.breadcrumb {
	display: none;
}
#region-menu {
	display: none;
}
.nameplate img {
	display: none;
}
#isu_wordmark {
	display: none;
}
.site-name-slogan {
	display: none;
}
.field.field-name-field-tags, .field.field-name-field-category {
	display: none;
}
.section-header {
	display: none;
}
.section-footer {
	display: none;
}
.region-sidebar-first {
	display: none;
}
.region-sidebar-second {
	display: none;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* Change the way things appear on printed page */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
.section h1 {
	border-bottom: 0;
}
