@media all and (min-width: 740px) and (max-width: 979px) {
    /*.zone.zone-content {*/
        /*width: 95%;*/
    /*}*/

    .zone.zone-content aside {
        width: 580px;
    }

    .container-12 .grid-8.region {
        width: 100%;
    }
}