@media all and (min-width: 980px) and (max-width: 1219px) {
    .item-list a {
        display: inherit;
    }

    .item-list a:hover {
        box-shadow: none;
        padding: 0;
        border: none;
        background-color: inherit;
    }
}

@media all and (min-width: 980px) {
    .item-list-js-enabled {
        display: block;
    }

    .collapsed-indicator-img {
        margin-top: 0.25em;
        height: 0.8em;
    }

    #block-menu-menu-footer .leaf a {
        background: none;
        font-size: 1.1em;
    }

    #block-menu-menu-footer .leaf a:hover {
        text-decoration: underline;
        background: none;
    }

    .region-menu .main-menu>li a {
        line-height: 42px;
    }

    .caret {
        border-top: 6px solid #fff;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin-top: 10px;
    }

    .page-search .content article .content,
    .page-search .content article footer {
        margin-left: 1.5em;
    }

    .section-content .block :not(.pager) li.leaf > a,
    .section-content .block :not(.pager) li.expanded > a,
    .section-content .block :not(.pager) li.collapsed > a,
    .section-content .block .item-list > ul:not(.pager) > li > a {
        padding: 4px 10px 4px 4px;
        transition: background-color 0.1s ease;
        min-height: 28px;
    }

    .section-content .block :not(.pager) li.leaf > a:hover,
    .section-content .block :not(.pager) li.expanded > a:hover,
    .section-content .block :not(.pager) li.collapsed > a:hover,
    .section-content .block .item-list > ul:not(.pager) > li > a:hover {
        text-decoration: none;
        background-color: rgba(52, 52, 52, 0.1);
    }

    .section-content .block :not(.pager) li.leaf > a:not(.facetapi-active):after,
    .section-content .block :not(.pager) li.expanded > a:after,
    .section-content .block :not(.pager) li.collapsed > a:after,
    .section-content .block .item-list > ul:not(.pager) > li > a:not(.facetapi-active):after {
        border-left-width: 4px;
        border-top-width: 6px;
        border-bottom-width: 6px;
        right: 6px;
    }

    .section-content .block :not(.pager) li.collapsed > a:after {
        border-top: 5px solid #333;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none;
    }

    .view-display-id-people_grid .views-row {
        width: 47.55%;
    }

    nav.navigation .main-menu>li a {
        line-height: 40px;
        font-size: 1.2em;
    }
}

@media (min-device-width: 980px) and (min-width: 980px), (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
    .container-12 .grid-2 {
        width: 25% !important;
    }

    .container-12 .grid-10 {
        width: 73% !important;
        margin-left: 0;
        margin-right: 0;
    }
}

@media all and (min-width: 1220px) {
    .container-12:not(.zone-side-menu):not(.sticky-top) {
        max-width: 1220px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .view-display-id-people_grid .views-row {
        width: 48%;
    }
}