@media all and (min-width: 980px) and (max-width: 1219px) {
    .item-list a {
        display: inherit;
    }

    .item-list a:hover {
        box-shadow: none;
        padding: 0;
        border: none;
        background-color: inherit;
    }
}

@media all and (min-width: 980px) {
    .item-list-js-enabled {
        display: block;
    }

    .collapsed-indicator-img {
        margin-top: 0.25em;
        height: 0.8em;
    }

    #block-menu-menu-footer .leaf a {
        background: none;
        font-size: 1.1em;
    }

    #block-menu-menu-footer .leaf a:hover {
        text-decoration: underline;
        background: none;
    }
}