@media all and (min-width: 740px) and (max-width: 979px) {
    /*.zone.zone-content {*/
        /*width: 95%;*/
    /*}*/

    .zone.zone-content aside {
        width: 580px;
    }

    .container-12 .grid-8.region {
        width: 100%;
    }

    .logo-img {
        margin-right: 0;
    }

    .zone.zone-content aside {
        width: 100%;
    }

    .zone-content .region.region-content {
        width: 100%;
    }
}