@media all and (min-width: 740px) {
    #block-system-main-menu {
        width: auto;
    }

    .region-banner#region-banner {
        width: 100%;
    }

    .flexslider {
        display: block;
    }

    .logo-img {
        float: none;
        position: absolute;
        right: 0;
    }

    .logo-img img {
        height: 7em;
    }

    .isu-dark-ribbon .wd-ribbon-menu-stack {
        padding-left: 10px;
        padding-right: 10px;
    }
}