@media all and (min-width: 980px) and (max-width: 1219px) {
    .item-list a {
        display: inherit;
    }

    .item-list a:hover {
        box-shadow: none;
        padding: 0;
        border: none;
        background-color: inherit;
    }

    .view-display-id-people_grid .views-row {
        width: 31.7%;
    }
}

@media all and (min-width: 980px) {
    .item-list-js-enabled {
        display: block;
    }

    .collapsed-indicator-img {
        margin-top: 0.25em;
        height: 0.8em;
    }

    #block-menu-menu-footer .leaf a {
        background: none;
        font-size: 1.1em;
    }

    #block-menu-menu-footer .leaf a:hover {
        text-decoration: underline;
        background: none;
    }

    .view-display-id-people_grid .views-row {
        float: left;
    }

    nav.navigation .main-menu>li a {
        line-height: 42px;
    }

    .caret {
        border-top: 6px solid #fff;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin-top: 10px;
    }
}

@media all and (min-width: 1220px) {
    .view-display-id-people_grid .views-row {
        width: 32%;
    }
}