@media all and (min-width: 740px) {
    #block-system-main-menu {
        width: auto;
    }

    .region-banner#region-banner {
        width: 100%;
    }

    .flexslider {
        display: block;
    }

    .logo-img {
        float: none;
        position: absolute;
        right: 0;
    }

    .logo-img img {
        height: 7em;
    }

    .isu-dark-ribbon .wd-ribbon-menu-stack {
        padding-left: 10px;
        padding-right: 10px;
    }

    #suitcase-main-menu-dropdown-toggle {
        display: none;
    }

    .view-display-id-people_grid h3 {
        width: 99%;
    }

    .view-display-id-people_grid .views-row {
        float: left;
        width: 49%;
    }

    .view-display-id-people_grid .views-field-title span a {
        font-size: 16px;
    }
}
